[submodule "Chisato/packages/spdlog"]
	path = Chisato/packages/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chisato/packages/GLFW"]
	path = Chisato/packages/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Chisato/packages/Imgui"]
	path = Chisato/packages/Imgui
	url = https://github.com/TheCherno/imgui.git
